*/5 * * * * /bin/bash /app/scripts/zoom-jobs.sh
*/5 * * * * /bin/bash /app/scripts/gift-card-jobs.sh
*/5 * * * * /bin/bash /app/scripts/export-jobs.sh
5 * * * * /bin/bash /app/scripts/export-cleanup.sh
